################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UnderTheBrand.Domain.Core/bin
/UnderTheBrand.Domain.Core/obj
/UnderTheBrand.Domain.Interfaces/bin
/UnderTheBrand.Domain.Interfaces/obj
/UnderTheBrand.Infrastructure.DAL/bin/Debug/netstandard2.1
/UnderTheBrand.Infrastructure.DAL/obj
/UnderTheBrand.Server/bin/Debug/netcoreapp3.1
/UnderTheBrand.Server/obj
