################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UnderTheBrand.Domain.Core/bin
/UnderTheBrand.Domain.Core/obj
/UnderTheBrand.Domain.Interfaces/bin
/UnderTheBrand.Domain.Interfaces/obj
/UnderTheBrand.Infrastructure.DAL/bin/Debug/netstandard2.1
/UnderTheBrand.Infrastructure.DAL/obj
/UnderTheBrand.Server/bin/Debug/netcoreapp3.1
/UnderTheBrand.Server/obj
/UnderTheBrand.Presentation.Server/obj
/UnderTheBrand.Infrastructure.DAL/bin/Release/netstandard2.1
/UnderTheBrand.Presentation.Server/bin
/UnderTheBrand.Presentation.Server/Logs
/UnderTheBrand.Presentation.Server/Database_UnderTheBrand.db
/UnderTheBrand.Infrastructure.DTO/obj
/UnderTheBrand.Infrastructure.DTO/bin/Debug/netstandard2.1
/UnderTheBrand.Domain.Core.Tests/bin/Debug
/UnderTheBrand.Domain.Core.Tests/obj
/UnderTheBrand.Domain.Business/bin
/UnderTheBrand.Domain.Business/obj
/UnderTheBrand.Domain.Core.Tests/bin/Release/netcoreapp3.1
/UnderTheBrand.Domain.ValueObject/bin
/UnderTheBrand.Domain.ValueObject/obj
/UnderTheBrand.Domain.ValueObject.Tests/bin
/UnderTheBrand.Domain.ValueObject.Tests/obj
/UnderTheBrand.Infrastructure.DTO/bin/Release/netstandard2.1
/UnderTheBrand.Domain.Entity/bin
/UnderTheBrand.Domain.Entity/obj
/UnderTheBrand.Presentation/UnderTheBrand.Presentation/obj
/UnderTheBrand.Presentation/UnderTheBrand.Presentation/obj
/UnderTheBrand.Presentation/UnderTheBrand.Presentation/bin/Debug/netstandard2.0
/UnderTheBrand.Presentation/UnderTheBrand.Presentation.Android/bin/Debug
/UnderTheBrand.Presentation/UnderTheBrand.Presentation.Android/obj
/UnderTheBrand.Presentation/UnderTheBrand.Presentation.iOS/obj
/UnderTheBrand.Presentation/UnderTheBrand.Presentation.UWP/bin/x86/Release
/UnderTheBrand.Presentation/UnderTheBrand.Presentation.UWP/obj
/UnderTheBrand.Infrastructure.Mobile/bin
/UnderTheBrand.Infrastructure.Mobile/obj
/UnderTheBrand.Presentation/UnderTheBrand.Presentation.UWP/bin
/UnderTheBrand.Infrastructure.DTO/bin/Debug/netstandard2.0
/UnderTheBrand.Infrastructure.ViewModel/bin/Debug/netstandard2.0
/UnderTheBrand.Infrastructure.ViewModel/obj
/UnderTheBrand.Infrastructure.DTO/bin/Release/netstandard2.0
/UnderTheBrand.Infrastructure.ViewModel/bin/Release/netstandard2.0
/UnderTheBrand.Presentation/UnderTheBrand.Presentation.Android/bin/Release
/UnderTheBrand.Domain.Entity.Tests/bin/Debug/netcoreapp3.1
/UnderTheBrand.Domain.Entity.Tests/obj
/UnderTheBrand.Domain.Entity.Tests/bin/Release/netcoreapp3.1
/UnderTheBrand.Presentation.Server.Tests/bin/Debug/netcoreapp3.1
/UnderTheBrand.Presentation.Server.Tests/obj
/UnderTheBrand.Infrastructure.ViewModel/bin
/UnderTheBrand.Presentation.Server.Tests/bin/Release/netcoreapp3.1
/UnderTheBrand.Presentation.Server/Database_UnderTheBrand_300.db
/obj/Docker
/bin
/obj
/Domain.Core/bin
/Domain.Core/obj
/Domain.Core.Tests/bin
/Domain.Core.Tests/obj
/Domain.Interfaces/bin
/Domain.Interfaces/obj
/Domain.Model/bin
/Domain.Model/obj
/Domain.Model.Tests/bin
/Domain.Model.Tests/obj
/Infrastructure.Core/bin
/Infrastructure.Core/obj
/Infrastructure.Dal/bin
/Infrastructure.Dal/obj
/Presentation.Server/bin
/Presentation.Server/Logs
/Presentation.Server/obj
/Presentation.Server/Database_UnderTheBrand.db
/Presentation.Server/Database_UnderTheBrand_300.db
/Presentation.Server/Database_UnderTheBrand.db-shm
/Presentation.Server/Database_UnderTheBrand.db-wal
/Web/Client/bin
/Web/Client/obj
/Web/Server/bin
/Web/Server/Logs
/Web/Server/obj
/Web/Server/Database_UnderTheBrand.db
/Web.Shared/bin
/Web.Shared/obj
/Domain.ValueObject/bin
/Domain.ValueObject/obj
/Infrastructure.Core.Tests/bin
/Infrastructure.Core.Tests/obj
/Web/Shared/bin
/Web/Shared/obj
/src/Core/bin
/src/Core/obj
/src/Interface/obj
/src/Model/obj
/src/ValueObject/bin
/src/ValueObject/obj
/src/Infrastructure.Core/bin
/src/Infrastructure.Core/obj
/src/SqliteDal/bin
/src/SqliteDal/obj
/src/Core.Tests/bin
/src/Core.Tests/obj
/src/Infrastructure.Core.Test/bin
/src/Infrastructure.Core.Test/obj
/src/Model.Test/bin
/src/Model.Test/obj
/src/Web/Client/bin/Debug/netstandard2.1
/src/Web/Client/obj
/src/Web/Server/bin/Debug/netcoreapp3.1
/src/Web/Server/obj
/src/Web/Shared/bin/Debug/netstandard2.1
/src/Web/Shared/obj
/src/Web/Client/bin/Release/netstandard2.1
/src/Web/Server/bin/Release/netcoreapp3.1
/src/Web/Shared/bin/Release/netstandard2.1
