################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UnderTheBrand.Domain.Core/bin
/UnderTheBrand.Domain.Core/obj
/UnderTheBrand.Domain.Interfaces/bin
/UnderTheBrand.Domain.Interfaces/obj
/UnderTheBrand.Infrastructure.DAL/bin/Debug/netstandard2.1
/UnderTheBrand.Infrastructure.DAL/obj
/UnderTheBrand.Server/bin/Debug/netcoreapp3.1
/UnderTheBrand.Server/obj
/UnderTheBrand.Presentation.Server/obj
/UnderTheBrand.Infrastructure.DAL/bin/Release/netstandard2.1
/UnderTheBrand.Presentation.Server/bin
/UnderTheBrand.Presentation.Server/Logs
/UnderTheBrand.Presentation.Server/Database_UnderTheBrand.db
/UnderTheBrand.Infrastructure.DTO/obj
/UnderTheBrand.Infrastructure.DTO/bin/Debug/netstandard2.1
/UnderTheBrand.Domain.Core.Tests/bin/Debug
/UnderTheBrand.Domain.Core.Tests/obj
/UnderTheBrand.Domain.Business/bin
/UnderTheBrand.Domain.Business/obj
/UnderTheBrand.Domain.Core.Tests/bin/Release/netcoreapp3.1
/UnderTheBrand.Domain.ValueObject/bin
/UnderTheBrand.Domain.ValueObject/obj
/UnderTheBrand.Domain.ValueObject.Tests/bin
/UnderTheBrand.Domain.ValueObject.Tests/obj
/UnderTheBrand.Infrastructure.DTO/bin/Release/netstandard2.1
/UnderTheBrand.Domain.Entity/bin
/UnderTheBrand.Domain.Entity/obj
/UnderTheBrand.Presentation/UnderTheBrand.Presentation/obj
/UnderTheBrand.Presentation/UnderTheBrand.Presentation/obj
/UnderTheBrand.Presentation/UnderTheBrand.Presentation/bin/Debug/netstandard2.0
/UnderTheBrand.Presentation/UnderTheBrand.Presentation.Android/bin/Debug
/UnderTheBrand.Presentation/UnderTheBrand.Presentation.Android/obj
/UnderTheBrand.Presentation/UnderTheBrand.Presentation.iOS/obj
/UnderTheBrand.Presentation/UnderTheBrand.Presentation.UWP/bin/x86/Release
/UnderTheBrand.Presentation/UnderTheBrand.Presentation.UWP/obj
/UnderTheBrand.Infrastructure.Mobile/bin
/UnderTheBrand.Infrastructure.Mobile/obj
/UnderTheBrand.Presentation/UnderTheBrand.Presentation.UWP/bin
/UnderTheBrand.Infrastructure.DTO/bin/Debug/netstandard2.0
/UnderTheBrand.Infrastructure.ViewModel/bin/Debug/netstandard2.0
/UnderTheBrand.Infrastructure.ViewModel/obj
/UnderTheBrand.Infrastructure.DTO/bin/Release/netstandard2.0
/UnderTheBrand.Infrastructure.ViewModel/bin/Release/netstandard2.0
/UnderTheBrand.Presentation/UnderTheBrand.Presentation.Android/bin/Release
