@inherits LayoutComponentBase

<div class="page-sidebar"></div>
<div class="page-content">
    <div class="secondary-sidebar"></div>
    <div class="page-header">
        <NavBar/>
    </div>
</div>

<!--
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
-->