<nav class="navbar navbar-default navbar-expand-md">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="logo-sm">
                <a href="javascript:void(0)" id="sidebar-toggle-button">
                    <i class="fas fa-bars"></i>
                </a>
                <a class="logo-box" href="#">
                    <span>Under the brand</span>
                </a>
            </div>
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <i class="fas fa-angle-down"></i>
            </button>
        </div>
        <div class="navbar-collapse justify-content-between collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="collapsed-sidebar-toggle-inv">
                    <a href="javascript:void(0)" id="collapsed-sidebar-toggle-button">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
        <AuthorizeView>
            <Authorized>
                <ul class="nav navbar-nav">
                    <li class="dropdown nav-item d-md-block">
                        <NavLink href="#" class="nav-link dropdown-toggle"
                                 id="navbarDropdown" data-toggle="dropdown"
                                 role="button" aria-haspopup="true"
                                 aria-expanded="true" Match="NavLinkMatch.All">
                            <img src="images/avatars/avatar1.png" class="rounded-circle" alt=""/>
                        </NavLink>
                    </li>
                </ul>
            </Authorized>
            <NotAuthorized>
                <ul class="nav navbar-nav">
                    <li class="nav-item d-md-block">
                        <NavLink href="authentication/login">Log in</NavLink>
                    </li>
                    <li class="nav-item d-md-block">
                        <NavLink href="authentication/register">Register</NavLink>
                    </li>
                </ul>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>