@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body, html {
    font-size: 13px;
    width: 100%;
    height: 100%
}

html {
    overflow-x: hidden
}

body {
    background-color: #ccc;
    font-weight: 400;
    color: #646464;
    line-height: 1.6;
}

a, body, span, text {
    font-family: Rubik,sans-serif;
    -webkit-font-smoothing: antialiased;
}

.collapsed-sidebar{}
.navbar-header{}
.collapsed-sidebar-toggle-inv{}

.page-container {
    min-height: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}
.page-container:not(.container) {
    width: 100%
}

.page-sidebar {
    width: 61px;
    background: #641eff;
    background: -moz-linear-gradient(top,#641eff 0,#a307dd 100%);
    background: -webkit-linear-gradient(top,#641eff 0,#a307dd 100%);
    background: linear-gradient(to bottom,#641eff 0,#a307dd 100%);
    min-height: 100%;
    float: left;
    z-index: 100;
    position: fixed;
    -webkit-box-shadow: 2px 0 4px 0 #000000;
    -webkit-box-shadow: 2px 0 4px 0 rgba(0,0,0,.29);
    -moz-box-shadow: 2px 0 4px 0 #000000;
    -moz-box-shadow: 2px 0 4px 0 rgba(0,0,0,.29);
    box-shadow: 2px 0 4px 0 #000000;
    box-shadow: 2px 0 4px 0 rgba(0,0,0,.29)
}

.page-content {
    min-height: 56px;
    vertical-align: bottom;
    background: #f1f3f6;
    width: calc(100% - 61px);
    float: right;
    margin-left: 61px
}

.collapsed-sidebar .secondary-sidebar {
    width: 61px
}

.secondary-sidebar {
    min-height: 100%;
    float: left;
    width: 200px;
    border-right: 1px solid #e5e9ec;
    background: #fff
}

.collapsed-sidebar .page-header, .collapsed-sidebar .page-inner {
    width: calc(100% - 61px)
}

.page-header {
    padding-bottom: 0;
    margin: 0;
    border-bottom: none;
    height: 61px;
    position: relative;
    width: calc(100% - 200px);
    float: right
}

.page-header .navbar-default {
    background-color: transparent;
    border: 0;
    margin-bottom: 0;
    height: 61px;
    border-radius: 0;
    padding: 0;
    border-bottom: 1px solid #e5e9ec
}

.page-header .navbar {
    padding: 0 !important
}

.navbar {
    padding: 10px 15px !important
}

.page-header .navbar-default .container-fluid, .page-header .navbar-default .navbar-collapse {
    height: 56px !important
}

.hidden-sidebar .page-content {
    margin-left: 0;
    width: 100%;
}

.hidden-sidebar .navbar-nav {
    flex-direction: row;
    justify-content: center !important;
    width: 100%;
    height: 60px
}

.hidden-sidebar .page-header, .hidden-sidebar .page-header .container-fluid, .hidden-sidebar .page-header .navbar {
    height: 102px !important;
}

.hidden-sidebar .page-sidebar, .hidden-sidebar .secondary-sidebar {
    margin-left: -100%;
    position: fixed;
    z-index: 999999;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.hidden-sidebar .page-header, .hidden-sidebar .page-inner {
    width: 100%;
    float: none;
}

.navbar .dropdown {
    display: inline-block;
}

.page-header .navbar-nav > li > a:focus, .page-header .navbar-nav > li > a:hover, .page-header .navbar-nav > li > a:link {
    color: #596b8c !important;
    background: 0 0 !important;
}

.page-header .navbar-nav > li > a {
    display: block;
    line-height: 36px;
    height: 56px;
    color: #596b8c;
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px 15px !important;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #fff;
}

.nav li a.active, .nav li a:hover {
    color: #8014f1;
}

.nav > li > a {
    font-weight: 400;
    padding: 10px 15px;
}

.nav li a {
    color: #596b8c;
}

a:active, a:focus, a:hover {
    outline: 0 !important;
    text-decoration: none !important;
}

a, a:hover {
    color: #8014f1;
}

.page-header .navbar-nav > li > a > img {
    width: 36px;
    display: inline-block;
    vertical-align: top;
}

.page-header .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    overflow-x: visible;
}

.hidden-sidebar .page-header .navbar-default .navbar-collapse {
    height: 59px !important;
    z-index: 9999;
    position: absolute;
    width: 100%;
    top: 42px;
}

.hidden-sidebar .navbar-collapse {
    background: #fff;
    height: 61px;
}

.hidden-sidebar .navbar-header {
    width: 100%;
}

.hidden-sidebar .navbar-header {
    border-bottom: 1px solid #e5e9ec;
    background: #fff;
}

.logo-sm {
    display: none;
}

.hidden-sidebar .logo-sm {
    display: block;
    float: left;
    width: calc(100% - 40px);
    height: 41px;
}

.logo-sm {
    display: none;
}

.hidden-sidebar .logo-sm #sidebar-toggle-button {
    float: left;
    color: #000;
    z-index: 99999;
    position: relative;
    width: 40px;
    padding: 0;
    height: 41px;
    text-align: center;
    line-height: 41px;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.logo-box:active, .logo-box:focus, .logo-box:hover, .logo-box:link {
    color: #596b8c;
    text-decoration: none;
}

.logo-box {
    display: block;
    padding: 0 32px;
    color: #000 !important;
    background: 0 0;
    height: 60px;
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    line-height: 60px;
    display: block;
    text-decoration: none;
}

.hidden-sidebar .logo-sm .logo-box {
    height: 41px;
    padding: 0;
    line-height: 41px;
    width: 100%;
    position: absolute;
    text-align: center;
}

.hidden-sidebar .navbar-header .navbar-toggler {
    float: right;
    position: relative;
    border-radius: 0;
    height: 41px;
    width: 40px;
    line-height: 41px;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
}

.collapsed-sidebar .page-header, .collapsed-sidebar .page-inner {
    width: calc(100% - 61px);
}

.page-inner {
    position: relative;
    padding: 30px;
    width: calc(100% - 200px);
    float: right;
}

.hidden-sidebar .page-header, .hidden-sidebar .page-inner {
    width: 100%;
    float: none;
}

@media (min-width:768px) {
    .navbar-nav {
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
}